@use '../../../stylesheets/color/color';
@use '../../../stylesheets/mixins/layout';
@use '../../../stylesheets/mixins/color-mixins';


.rebuilds {
  width: 100vw;
  padding: 2opx;

  .overlay {
    height: 105%;
  }
  .landing {
    background-image: url("../../../../assets/images/workersmall.jpg");
    height: 100vh;
    background: cover no-repeat;

    .call-to-action {
      @include layout.position-absolute(50%, 50%);
      height: 400px;
      color: color.$main-color;
      transform: translate(-50%, -50%);

      .rebuild {
        font-size: 60px;
        @include color-mixins.outline-text;
      }
    }

    .line1 {
      @include layout.position-absolute(38%, 0%);
      width: 25%;
    }

    .line2 {
      width: 30%;
      @include layout.position-absolute(50%, auto, 0);
    }
  }
}


@media (min-width: 600px) {

  .rebuilds {

    .landing {
      background-size: 100% 100%;

      .call-to-action {
        height: 800px;


        .rebuild {
          font-size: 200px;
          // lin
        }
      }
    }
  }
  }
