<div class="rebuilds gradient-bg">
  <div class="landing">
    <div class="gradient-overlay overlay"></div>
    <div
      class="line line1"
      data-aos="slide-right"
      data-aos-duration="1000"
      data-aos-easing="ease-out"
    ></div>
    <div
      class="line line2"
      data-aos="slide-left"
      data-aos-duration="1000"
      data-aos-easing="ease-out"
    ></div>
    <div class="call-to-action">
      <h1
        class="rebuild noto-font"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-easing="ease-out"
      >
        Re-<br />&nbsp;&nbsp;&nbsp;Builds
      </h1>
    </div>
  </div>
  <app-rebuild-design></app-rebuild-design>
  <app-rebuild-detail></app-rebuild-detail>
  <app-rebuild-finishing></app-rebuild-finishing>
</div>
