@use '../../stylesheets/color/color.scss';
.footer {
  position: relative;
  background-color: color.$black;
  height: 200px;
  margin-top: 20px;
  border-top: solid #ffffff 1px;

  .to-top {
    position: fixed;
    margin-top: -25px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: color.$main-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: inherit;

  div {
    padding-left: 20px;
    border-right: solid 1px #ffffff;
  }
}

