<div class="footer">
  <div class="to-top" (click)="scrollToTop()"></div>
  <div class="footer-columns">
    <div>
      <h6 class="main-accent">DECORS </h6>
      <a href="/"><h6 class="regular">Gusto</h6></a>
    </div>
    <div>
      <h6 class="main-accent">EXPLORE</h6>
      <a href="/ourworld"><h6>Our World</h6></a>
      <a href="/rebuild"><h6>Rebuilds</h6></a>
      <a href="/lighting"><h6>Lighting</h6></a>
      <a href="/joinus"><h6>Contact Us</h6></a>
    </div>
    <div></div>
  </div>
</div>


