.navbar {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1001;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0;
  width: 100%;


  .nav-menu-btn {
   color: inherit;
  }

  .navs {
    display: none;
  }
}
.exclusion-navbar {
  mix-blend-mode: exclusion !important;
}
// .exclusion-navbar {
//   mix-blend-mode: exclusion !important;
//   filter: invert(1) !important;
// }

@media (min-width: 600px) {
  .navbar {
    width: calc(100% - 100px);
    padding-left: 50px;

    .nav-menu-btn {
      display: none;
    }
    .navs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
