.navbar {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1001;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0;
  width: 100%;

  .nav-menu-btn {
    color: inherit;
  }

  .navs {
    display: none;
  }
}

.sidenav {
  position: fixed;
  top: 5%;
  height: 90%;
  width: 65%;
  background-color: #232323;
  z-index: 10002;
  transition: all 0.5s ease-out;

  .close-menu-btn {
    text-align: right;
    margin: 20px;
  }

  .sidenav-content {
    margin: 40px 20px;
    text-align: right;
    height: 200px;

    div {
      margin: 10px 0;
      color: #ffffff;
    }
  }
}

.exclusion-navbar {
  mix-blend-mode: exclusion !important;
}
// .exclusion-navbar {
//   mix-blend-mode: exclusion !important;
//   filter: invert(1) !important;
// }

@media (min-width: 600px) {
  .navbar {
    width: calc(100% - 100px);
    padding-left: 50px;

    .nav-menu-btn {
      display: none;
    }
    .navs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .sidenav {
    display: none;
  }
}
