<div class="engineering">
  <div class="gradient-overlay"></div>
  <h3
    class="main-accent noto-font"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-easing="ease-out"
  >
    Engineering
  </h3>
  <div
    class="line line1"
    data-aos="slide-right"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
  ></div>
  <div
    class="line line2"
    data-aos="slide-left"
    data-aos-duration="700"
    data-aos-easing="ease-in-out"
  ></div>
  <p class="paragraph">
    So good you can't ignore them. We have a group of experts firmly dedicated
    to their craft. They deliver top-shelf results every time.
  </p>
  <img
    src="../../../../assets/images/voltmetersmall.jpg"
    alt="voltmeter"
    data-aos="fade-up-left"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
  />
  <div class="quote">
    <p class="paragraph">
      We owe it to ourselves, our clients and humaity to strive for perfection.
    </p>
    <p>Gustavo, Gusto Founder</p>
    <div
      class="line"
      data-aos="slide-right"
      data-aos-duration="1000"
      data-aos-easing="ease-out"
    ></div>
  </div>
</div>
