<div class="us">
  <h5 class="main-accent">WHO WE ARE</h5>
  <h3 class="noto-font">Gusto is About Redefining What Great Decor Is.</h3>
  <div class="line line1"></div>
  <div class="line line2"></div>
  <div class="us-content">
    <p class="paragraph">
      At Gusto we believe business, family and life can be improved by a good
      room. We take this as our main responsibility.By using our experience in
      Decor, Design and Engineeringmwe bring rooms and office spaces to life.
    </p>

    <p class="paragraph">
      Our point of approach is in ensuring good customer experience and
      satisfaction. We bring creativity, passion and talent to every project.
    </p>
  </div>
</div>
