<div class="finishing">
  <h1
    class="noto-font main-accent"
    data-aos="slide-right"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
  >
    03
  </h1>
  <h1
    class="noto-font main-accent"
    data-aos="slide-right"
    data-aos-duration="600"
    data-aos-easing="ease-in-out"
  >
    Finishing
  </h1>
  <h3 class="noto-font">Clinical</h3>
  <p
    class="paragraph"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
  >
    A crisp look for your space. We wrap up the work in style. Making it look
    elegant, minimal and warm.
  </p>
  <div class="images">
    <img
      src="../../../../assets/images/kitchensmall.jpg"
      alt="sink"
      data-aos="slide-right"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    />
    <img
      src="../../../../assets/images/whiteroomsmall.jpg"
      alt="toilet"
      data-aos="slide-left"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    />
  </div>
</div>
