<div class="home">
  <img class="patha" src="../../../assets/svgs/bg.png" alt="" />
  <div class="landing">
    <div class="call-to-action">
      <div class=" overlay"></div>
      <div class="CTA">
        <h3 class="noto-font" data-aos="slide-left" data-aos-duration="500" data-aos-easing="ease-out linear">TRUSTED. TIMELY. RESULTS</h3>
        <p data-aos="slide-left" data-aos-duration="600"  data-aos-easing="ease-out linear">
          For the past few years, the people of Voi have come to us for better
          interiors. We have delivered.
        </p>
        <button [routerLink]="['/joinus']" data-aos="slide-left" data-aos-duration="700" data-aos-easing="ease-out linear">Let us deliver for you</button>
      </div>
    </div>
    <div class="landing-slide">
      <app-carousel class="home-carousel"></app-carousel>
    </div>
  </div>
  <app-home-dna></app-home-dna>
  <div class="hat">
    <div class="gradient-overlay overlay">
      <div class="goals">
        <h3 class="noto-font">We produce results</h3>
        <p class="paragraph">
          At Gusto we not only set goals, we pride ourselves in meeting them.
        </p>
      </div>
    </div>
  </div>
  <app-home-work></app-home-work>
</div>
