<div class="home">
  <img class="patha" src="../../../assets/svgs/Path 5.svg" alt="" />
  <div class="landing">
    <div class="call-to-action">
      <div class="overlay"></div>
      <div class="CTA">
        <h3 class="noto-font">TRUSTED. TIMELY. RESULTS</h3>
        <p>
          For the past few years, the people of Voi have come to us for better
          interiors. We have delivered.
        </p>
        <button>Let us deliver for you</button>
      </div>
    </div>
    <div class="landing-slide"></div>
  </div>
  <app-home-dna></app-home-dna>
  <div class="hat">
    <div class="overlay">
      <div class="goals">
        <h3 class="noto-font">We produce results</h3>
        <p class="paragraph">
          At Gusto we not only set goals, we pride ourselves in meeting them.
        </p>
      </div>
    </div>
  </div>
  <app-home-work></app-home-work>
</div>
<app-footer></app-footer>
