@use '../../stylesheets/color/color.scss';
@use '../../stylesheets/mixins/layout';


.home {
  width: 100vw;;
  .patha {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 800px;;
    z-index: 0;
  }

  .landing {
    background-color: #ffffff;
    height: 100vh;

    .landing-slide {
      position: relative;
      height: inherit;
    }

    .call-to-action {
      position: relative;
      height: inherit;
      background-image: url("../../../assets/images/homebgsmall.jpg");
      background: no-repeat cover;
      background-size: 100% 100%;
      color: color.$black;

      .overlay {
        background-color: color.$white;
        opacity: 0.6;
      }
      .CTA {
        position: absolute;
        top: 30%;
        padding: 20px;
        text-align: center;

        button {
          background-color: color.$primary-blue;
          font-size: 16px;
          padding: 10px 20px;
          border-radius: 20px;
          border: none;
          color: color.$white;
        }
      }
    }
  }
  .hat {
    position: relative;
    height: 500px;
    background-image: url("../../../assets/images/hatsmall.jpg");
    background: cover no-repeat;
    background-size: 100% 100%;

    .overlay {
      position: relative;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        15deg,
        rgba(0, 0, 0, 0.95) 40%,
        rgba(0, 0, 0, 0.85) 70%,
        rgba(0, 0, 0, 0.75) 80%
      );

      .goals {
        position: absolute;
        top: 50%;
        margin-left: 50px;
        width: 250px;

        h3 {
          font-size: 15px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .home {

    .patha {
      position: absolute;
      top: 60%;
      height: 1400px;
      z-index: 0;
    }

    .landing {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .landing-slide {
        grid-column: 1/2;
        grid-row: 1;
      }

      .call-to-action {
        background-image: url("../../../assets/images/home-bg.jpg");
        grid-column: 2/3;

        .CTA {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .hat {
      position: relative;
      height: 700px;
      background-image: url("../../../assets/images/hatsmall.jpg");
      background: cover no-repeat;
      background-size: 100% 100%;

      .overlay {
        position: relative;
        height: 100%;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          15deg,
          rgba(0, 0, 0, 0.95) 40%,
          rgba(0, 0, 0, 0.85) 70%,
          rgba(0, 0, 0, 0.75) 80%
        );

        .goals {
          position: absolute;
          top: 60%;
          margin-left: 50px;
          width: 300px;
        }
      }
    }
  }
}
