<div class="join gradient-bg">
  <div class="landing">
    <div class="gradient-overlay"></div>
    <div
      class="line line1"
      data-aos="slide-right"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    ></div>
    <div
      class="line line2"
      data-aos="slide-left"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    ></div>
    <div class="call-to-action">
      <h1
        class="joinus noto-font"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        Join-<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Us
      </h1>
    </div>
  </div>
  <app-join-form></app-join-form>
</div>
