@use '../../../stylesheets/mixins/layout';
@use '../../../stylesheets/mixins/color-mixins';
@use '../../../stylesheets/color/color';

.join {
  width: 100vw;
  padding: 2opx;

  .overlay {
    height: 105%;
  }
  .landing {
    position: relative;
    background-image: url("../../../../assets/images/handshakesmall.jpg");
    height: 100vh;
    background: cover no-repeat;

    .call-to-action {
      @include layout.position-absolute(50%, 50%);
      height: 400px;
      color: color.$main-color;
      transform: translate(-50%, -50%);

      .joinus {
        font-size: 60px;
        @include color-mixins.outline-text;
      }
    }

    .line1 {
      @include layout.position-absolute(38%, 0%);
      width: 30%;
    }

    .line2 {
      width: 35%;
      @include layout.position-absolute(38%, auto, 0);
    }
  }
}

@media (min-width: 600px) {
  .join {
    .landing {
      background-size: 100% 100%;

      .call-to-action {
        height: 600px;

        .joinus {
          font-size: 130px;
        }
      }

      .line1 {
        @include layout.position-absolute(45%, 15%);
        width: 16%;
      }
      .line2 {
        @include layout.position-absolute(48%, 60%);
        width: 16%;
      }
    }
  }
}
@media (min-width: 1025px) {
  .join {
    .landing {
      background-size: 100% 100%;

      .call-to-action {
        height: 800px;

        .joinus {
          font-size: 200px;
        }
      }

      .line1 {
        @include layout.position-absolute(45%, 15%);
        width: 16%;
      }
      .line2 {
        @include layout.position-absolute(48%, 60%);
        width: 16%;
      }
    }
  }
}
