<div class="vision">
  <div
    class="line"
    data-aos="slide-right"
    data-aos-duration="1000"
    data-aos-easing="ease-out"
  ></div>
  <h5
    class="main-accent"
    data-aos="slide-right"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
  >
    OUR VISION
  </h5>
  <h3
    class="noto-font"
    data-aos="slide-right"
    data-aos-duration="1000"
    data-aos-easing="ease-out"
  >
    Style & Elegance
  </h3>
  <p
    class="paragraph"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-easing="ease-out"
  >
    We aim on raising the expectation of what great decor should do. We also
    focus on fostering patnerships to ensure exclusive access and first pick
    choice to the best opportunities.
  </p>
  <img
    class="image1"
    src="../../../../assets/images/littleroomsmall.jpg"
    alt=""
    data-aos="fade-down-left"
    data-aos-duration="300"
    data-aos-easing="ease-out"
  />
  <img
    class="image2"
    src="../../../../assets/images/plansmall.jpg"
    alt=""
    data-aos="fade-up-right"
    data-aos-duration="300"
    data-aos-easing="ease-out"
  />
</div>
