<div class="vision">
  <div class="line"></div>
  <h5 class="main-accent">OUR VISION</h5>
  <h3 class="noto-font">Style & Elegance</h3>
  <p class="paragraph">
    We aim on raising the expectation of what great decor should do. We also
    focus on fostering patnerships to ensure exclusive access and first pick
    choice to the best opportunities.
  </p>
  <img class="image1" src="../../../../assets/images/littleroomsmall.jpg" alt="" />
  <img class="image2" src="../../../../assets/images/plansmall.jpg" alt="" />
</div>
