@use '../../../stylesheets/mixins/layout';

.birth {
  position: relative;
  padding: 20px;
  align-items: center;
  justify-content: center;

  .line {
    width: 46%;
    @include layout.position-absolute(21%, 0);
  }

  h5,
  h3 {
    text-align: center;
  }
  img {
    margin-left: 5%;
    width: 90%;
  }
}

@media (min-width: 600px) {
  .birth {
    position: relative;
    height: 500px;

    .line {
      width: 6%;
      @include layout.position-absolute(18%, 56%);
    }

    h5,
    h3 {
      text-align: left;
    }
    h3{
      @include layout.position-absolute(10%, 60%);
    }
    h5{
      @include layout.position-absolute(5%, 60%);
    }
    p{
      @include layout.position-absolute(18%, 60%);
      width: 400px;
    }
    img {
      @include layout.position-absolute(10%, 5%);
      width: 40%;
      height: 300px;
    }
  }
}
