@use '../../../stylesheets/mixins/layout';
.results {
  position: relative;
  margin-top: 40px;
  padding-bottom: 20px;
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  .line {
    margin-left: 55%;
    width: 80%;
  }
  p{
    width: 80%;
    margin-left: 10%;
  }
  img{
    width: 80%;
    height: 200px;
    margin-left: 10%;
  }
}
@media(min-width: 600px){
  .results {
    height: 600px;;
    h3 {
      @include layout.position-absolute(0%, 55%);
      text-align: left;
      font-size: 50px;
      margin-bottom: 0;
    }
    .line {
      @include layout.position-absolute(18%, 75%);
      margin-left: 0;
      width: 80%;
    }
    p{
      @include layout.position-absolute(20%, 55%);
      width: 30%;
      margin-left: 0%;
    }
    img{
      @include layout.position-absolute(10%, 10%);
      width: 40%;
      height: 400px;
      margin-left: 0;
    }
  }
}
@media(min-width: 1025px){
  .results {
    height: 600px;;
    h3 {
      @include layout.position-absolute(0%, 55%);
      text-align: left;
      font-size: 50px;
      margin-bottom: 0;
    }
    .line {
      @include layout.position-absolute(18%, 75%);
      margin-left: 0;
      width: 80%;
    }
    p{
      @include layout.position-absolute(20%, 55%);
      width: 20%;
      margin-left: 0%;
    }
    img{
      @include layout.position-absolute(10%, 10%);
      width: 40%;
      height: 400px;
      margin-left: 0;
    }
  }
}
