<div class="detail">
  <h1 class="noto-font main-accent">02</h1>
  <h1 class="noto-font main-accent">Detail</h1>
  <h3 class="noto-font">Every Detail Counts</h3>
  <p class="paragraph">
    We put a great deal of attention to detail. We understand how large a
    difference the most subtle of changes can make.
  </p>
  <div class="images">
    <img src="../../../../assets/images/sinksmall.jpg" alt="sink" />
    <img
      src="../../../../assets/images/toilet.jpg"
      srcset="
        ../../../../assets/images/toilet.jpg 2x,
        ../../../../assets/images/toiletsmall.jpg 1x
      "
      alt="toilet"
    />
  </div>
  <div class="noto-font excitement">Excitement</div>
</div>
