<div class="detail">
  <h1
    class="noto-font main-accent"
    data-aos="slide-right"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
  >
    02
  </h1>
  <h1
    class="noto-font main-accent"
    data-aos="slide-right"
    data-aos-duration="600"
    data-aos-easing="ease-out"
  >
    Detail
  </h1>
  <h3 class="noto-font">Every Detail Counts</h3>
  <p
    class="paragraph"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
  >
    We put a great deal of attention to detail. We understand how large a
    difference the most subtle of changes can make.
  </p>
  <div class="images">
    <img
      src="../../../../assets/images/sinksmall.jpg"
      alt="sink"
      data-aos="slide-right"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    />
    <img
      src="../../../../assets/images/toilet.jpg"
      srcset="
        ../../../../assets/images/toilet.jpg      2x,
        ../../../../assets/images/toiletsmall.jpg 1x
      "
      alt="toilet"
      data-aos="slide-left"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    />
  </div>
  <div class="noto-font excitement">Excitement</div>
</div>
