<div class="work">
  <div class="rebuilds">
    <div class="overlay">
      <h4 style="margin: 2px">Rebuilds</h4>
      <p class="paragraph">high quality full space rebuilds</p>
      <a href="/rebuild"
        ><p
          class="main-accent"
          data-aos="slide-right"
          data-aos-duration="300"
          data-aos-easing="ease-out linear"
        >
          discover
        </p></a
      >
    </div>
  </div>
  <div class="lights">
    <div class="overlay">
      <h4 style="margin: 2px">Lighting</h4>
      <p class="paragraph">we change the feel of a room with ambience</p>
      <a href="/lighting"
        ><p
          class="main-accent"
          data-aos="slide-left"
          data-aos-duration="300"
          data-aos-easing="ease-out linear"
        >
          discover
        </p></a
      >
    </div>
  </div>
</div>
