.work {
  padding: 20px 0 20px 0;
  width: 100%;

  div {
    position: relative;
    height: 350px;
    margin: 10px 5px;
    background: cover no-repeat;
    background-size: 100% 100%;
    overflow: hidden;

    .overlay {
      position: absolute;
      top: 55%;
      left: 0%;
      width: 100%;
      padding: 10px;
      background-color:rgba($color: #000000, $alpha: .7);
      text-align: center;
    }
  }
  .rebuilds {
    background-image: url("../../../assets/images/lighting.jpg");
  }
  .lights {
    background-image: url("../../../assets/images/rebuild.jpg");
  }
}


@media (min-width: 600px) {
  .work {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 45%;
      height: 400px;
      margin: 0 5px;
    }
  }
}

@media (min-width: 1025px) {
  .work {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 30%;
      height: 400px;
      margin: 0 5px;
    }
  }
}
