@use 'app/stylesheets/fonts/font.scss';
@use 'app/stylesheets/color/color.scss';

body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  color: color.$white;
  font-family: "poppinsregular";
  overflow-x: hidden;
  letter-spacing: 1px;
}

.main-accent{
  color: color.$main-color;
}

.paragraph{
  color: rgba($color: #fafafa, $alpha: 57%);
}

.noto-font{
  font-family: "notoserifregular";
}
